*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* @import url("https://fonts.googleapis.com/css?family=Montserrat:700");
.hero {
  background-color: black;
  position: relative;
  height: 100vh;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
}

.hero__title {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  z-index: 1;
}

.cube {
  position: absolute;
  top: 80vh;
  left: 45vw;
  width: 10px;
  height: 10px;
  border: solid 1px white;
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  -webkit-animation: cube 12s ease-in forwards infinite;
          animation: cube 12s ease-in forwards infinite;
}
.cube:nth-child(2n) {
  border-color: lightcyan;
}
.cube:nth-child(2) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  left: 25vw;
  top: 40vh;
}
.cube:nth-child(3) {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  left: 75vw;
  top: 50vh;
}
.cube:nth-child(4) {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
  left: 90vw;
  top: 10vh;
}
.cube:nth-child(5) {
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
  left: 10vw;
  top: 85vh;
}
.cube:nth-child(6) {
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
  left: 50vw;
  top: 10vh;
}

@-webkit-keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}

@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
} */
h1{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    background-color: black;
}

.student{
    color: red;
}

input{
    height: 60px;
    width: 300px;
    outline: none;
    margin-top: 10px;
    border-radius: 15px;
    border: none;
}

nav{
    height: 100px;
        width: 400px;
        background: rgb(21,27,23);
        background: linear-gradient(201deg, rgba(21,27,23,1) 0%, rgba(7,7,175,1) 32%, rgba(0,216,246,1) 70%);
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 25px;
        
    .button{
    background: rgb(21,27,23);
    background: linear-gradient(240deg, rgba(21,27,23,1) 2%, rgba(0,216,246,1) 38%, rgba(0,246,190,1) 84%);
    border: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: white;
    width: 150px;
    height: 50px;
    border-radius: 20px;
}
}

input[type=button], input[type=submit], input[type=reset] {
    background: rgb(21,27,23);
    background: linear-gradient(240deg, rgba(21,27,23,1) 2%, rgba(0,216,246,1) 38%, rgba(0,246,190,1) 84%);
    border: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: white;

}
.weather-input{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    
}

.location{
    
    height: 300px;
    width: 400px;
    background: rgb(2,0,36);
    background: linear-gradient(63deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 11%, rgba(8,28,133,1) 34%, rgba(0,212,255,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 50px;
}

@media (max-width: 600px){
        
    .location{
        width: 300px;
    }

    .weather-input{
        width: 400px;
    }
   
    input{
        width: 200px;
    }

    
}

#weather-output{
    margin-top: 50px;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.5s;
    

    .current{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
        .current-card{
            height: 220px;
            width: 220px;
            background: rgb(21,27,23);
            background: linear-gradient(201deg, rgba(21,27,23,1) 0%, rgba(7,7,175,1) 32%, rgba(0,216,246,1) 70%);
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            border-radius: 50px;
            color: white;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
    }

    .forecast{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        
        .forecast-card{
            height: 220px;
            width: 220px;
            margin: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: rgb(21,27,23);
            background: linear-gradient(201deg, rgba(21,27,23,1) 0%, rgba(7,7,175,1) 32%, rgba(0,216,246,1) 70%);
            border-radius: 50px;
            color: white;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
        
    }

    @media (max-width: 600px){
        
        .forecast{
           
            flex-direction: column;
            width: 100%;
            height: 800px;
            margin-top: 50px;
            .forecast-card{
                height: 220px;
                width: 220px;
            }
        }
        
    }

    
}
@media (max-width: 600px){
        
        #weather-output{
            margin-top: 350px;
            width: 400px;
        }
        
    }